.App {
  text-align: center;
}
body {
  /* background-image: linear-gradient(to right, rgb(0, 26, 255), rgb(51, 255, 0)); */
  /* background-color: rgba(0, 0, 255, 0.7); */
  background-color: rgba(146, 128, 128, 0.418);
}

ul {
  list-style: none;
}
.article-card {
  border: 1px rgba(255, 255, 255, 0.1) solid;
  padding: 10px;
  margin-bottom: 10px;
  margin-left: 0;
  display: flex;
  flex-direction: column;

  background-color: rgba(255, 255, 255, 0.6);
  color: rgb(51, 50, 50);
  border-radius: 45px;
  max-width: 60rem;
  min-height: 8rem;
  margin: auto;
  margin-bottom: 10px;

  color: grey;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
}
.comment-card {
  border-radius: 12px;
  padding: 10px;
  margin-bottom: 10px;
  margin-left: 0;
  display: flex;
 flex-direction: column;
  background-color: rgba(255, 255, 255, 0.6);
  color: grey;
  border-radius: px;
  max-width: 60rem;
  min-height: 8rem;
  margin: auto;
  margin-bottom: 10px;
  font-weight: 500;
}

.comment-card-upper{
  padding: 1rem;
  border-bottom: 1px solid white;

}
.comment-card-lower{
  padding-top: 1rem;
display: flex;
justify-content: space-around;
align-items: center;
}
.article-card:hover {
  background-color: rgba(255, 255, 255, 0.87);
  border: 1px grey solid;

  cursor: pointer;
}
.article-link {
  text-decoration: none;
}
.article-title {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
  padding-top: 0.2rem;
  font-size: larger;
}
.article-lower {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.article-info {
  text-align: left;
}
.nav {
  border-bottom: 1px rgb(255, 255, 255) solid;
  border-top: 1px rgb(255, 255, 255) solid;
  padding: 0.7em;
}
.nav > a {
  color: grey;
  font-size: 1.5rem;
  font-weight: 300;
  padding-top: 1rem;
  padding: 1rem;
}
.nav > a > p {
  background-color: rgb(232, 235, 235, 0.55);
  padding: 0.7rem;
  border-radius: 1rem;
}
.header-signedIn {
  color: grey;
  font-size: 1.5rem;
  font-weight: 300;
}

.header {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  padding-top: 0;
  margin-top: 0;
  padding-bottom: 1px;
  margin-bottom: 5px;
  color: rgb(8, 8, 8);
  background-color: rgb(247, 246, 246);
  border-bottom: 1px solid grey;
}

.header-name {
  color: grey;
  font-size: 1.8rem;
  font-weight: 300;
  padding-top: 1rem;
}

.article-header {
  padding: 1rem;
  font-weight: 400;
  color: grey;
}

.article-page-forms {
  padding: 10px;
}

.specific-article-body {
  border: 1px rgb(104, 103, 103) solid;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgba(255, 255, 255, 0.6);
  color: grey;
  border-radius: 100px;
  max-width: 90rem;
  padding: 2rem;

  margin: auto;
  margin-top: 5px;
  font-weight: 500;
}

.specific-article-headers {
  padding: 2rem;
  color: grey;
  font-size: 3rem;
  font-weight: 400;
}
.label-headers {
  color: grey;
  padding: 0.5rem;
}
.vote-on-article {
  max-width: 6rem;
  margin: auto;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.number-of-votes {
  margin-left: 1rem;
  margin-right: 1rem;

  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 15px;
  border: none;
  color: grey;
  font-weight: bold;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.vote-article-button {
  color: grey;
  margin-left: 1rem;
  margin-right: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  min-width: 5rem;
}

.error {
  color: grey;
  padding: 1em;
}

.comment-form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem;
  padding: 1rem;
}

button {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 15px;
  border: none;
  color: grey;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border: white solid 1px;
  cursor: pointer;
}

.comment-input {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 15px;
  border: none;
  color: grey;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-right: 20px;
}
.comments-header {
  text-align: left;
  padding-left: 9rem;
  background-color: rgba(255, 255, 255, 0.589);
  border-radius: 15px;
  border: none;
  color: grey;
  padding: 15px 32px;
  margin-bottom: 20px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-right: 20px;
}

.error {
  padding-top: 0;
  margin-top: 0;
}

.delete-comment-button {
  color: black;
}
.sign-in {
  padding: 5rem;
}
.signin-info-box {
  margin: 234rem;
}

.username-info{
  padding:1rem;
  color: grey;
  font-size: 1rem;
  font-weight: 600;
}
